/*UA reset*/

 * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
/*generiche*/

/*larghezze*/
.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-45 {
    width: 45%;
}

/*altezze*/
.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}

html {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100vw;
    background-color: var(--colore3);
}
:root {
    /* --colore1: #00c9a6; */
    --colore1: #4a4453;
    --colore2: #00536c;
    --colore3: #F4BE27;
    --colore4: #372b4a;
    --accento: #D2F4CC;
    --fondino: rgba(210, 244, 204, 0.15);
    --testo: rgba(254, 255, 249, 1);
}

.scroll:hover{
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    text-shadow: 1px 0 0 whitesmoke, -1px 0 0 whitesmoke, 0 1px 0 whitesmoke,
                 0 -1px 0 whitesmoke, 1px 1px whitesmoke, -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke;

}
#container{
    position: absolute;
    top: 16vh;}


#pool {
    height: 100vh;
    width: 100vw;
}

.gridSystem{
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 1em;
}

.gridCard{
    border:2px solid rgba(245, 245, 245, 0.303);
    background-color: var(--accento);
    padding: 1em;
    
}
.serviceIcon{
    height: auto;
    width: 7em;
}

.footerText{
    font-size: small;
    
}

.upperCase{
    text-transform: uppercase;
}
.decNone{
    text-decoration: none;
    text-emphasis: none;
    color: black;
    display: flex;
    justify-content: end;
}

.corsivo {
    font-style: italic;
    font-weight: 600;
}

.boldText {
    font-weight: 600;
}

.bolderText {
    font-weight: 800;
    font-size: x-large;
}

.semiBoldText {
    font-weight: 500;
}
/*handwriting*/
.firma {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 900;
}

.testoAlert {
    color: #800000;
    font-size: 1.5em;
    background-color: #62a8e5;
}

.emoticon {
    font-style: normal;
}

img {
    width: auto;
    height: auto;
}

.cardImg {
    cursor: zoom-in;
}

header nav{
    background-color: var(--colore4);
    color: var(--accento);
}
#ulMenu{
    color: black;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}
a{
    text-decoration: none;
   
}
.text-border-black {
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black,
        1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

}



/*ombre*/
.ombra {
    box-shadow: 0px 0px 1vh rgb(56, 55, 55);
}

.ombra2 {
    box-shadow: 0px 3px 1vh rgb(56, 55, 55);
}

.ombraGranata {
    box-shadow: 1px 1px 2.6vh #800000;
}

/* ========== card stanze ============== */
.myCard {
    height: auto;
}

#gMaps{
    margin: 0 auto;
}

/* ========== navBar ============== */
.nascondi {
    display: none;
}

.logo {
    font-size: x-large;
    font-weight: bold;
    color: var(--colore3);
    
}
#logo{
    height: 36px;
}
.list {
    margin-top: 0.5em;
    font-size: x-large;
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 1vh;
    color: #832800;
    flex-direction: row;
    justify-content: start;
    margin: 0 auto;
    /*Applies right and bottom spacing between 
    children inside a flex or grid container.*/
}



/* ========== slideshow ============== */
#banner, #banner2 {
    width: auto;
    height: 40vh;
    /* box-shadow: 0px 0px 1.5vh rgb(56, 55, 55); */
    border-radius: 5px;
}

/* ========== form ============== */
form {
    width: 30vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background-color: var(--colore2);
    padding: 0 0;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid var(--fondino);
  }
/*bottone info*/
button {
    font-family: inherit;
    font-size: 20px;
    color: black;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}
/*bottoni animati della funzione buttonGen*/
.btn3D {
    width: 13vw;
    display: inline-block;
    padding: 10px 28px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: rgba(27, 26, 26, 0.202) 1px solid;
    box-shadow: 0 8px 0 #bcdab8, inset -5px 0 10px rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.btn3D.btn3D:hover {
    transform: translate(4px);
    box-shadow: 0 4px 0 #bcdab8;
    scale: 1.15;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
button:hover span {
    transform: translateX(5em);
}
button:active {
    transform: scale(0.95);
}
@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }
    to {
        transform: translateY(-0.1em);
    }
}

/*ICONA AIRBNB*/
.icons-wrapper {
    position: relative;
}
.fa-airbnb {
    background: var(--colore3);
    /*(circle at 30% 107%, #800000 0%, #fdf497 5%, #d649fd 45%, #d6249f 60%, #d496f1 90%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* This is the first item so no animation delay needed.*/
}
.fa-brands {
    display: inline-block;
    /*Makes the icons inline block level elements. This will let us animate the transform property.*/
    font-size: 25px;
    /*Applies the float keyframe animation over 5s and makes it run infinitely.*/
    animation: float 1.5s ease-in-out infinite;
}
.icons-wrapper::after {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
/*animazione icona AirBnb*/
@keyframes float {
    0% {
        transform: translateY(0);
        /*The starting point of the animation is 0.*/
    }
    50% {
        transform: translateY(-4px);
        /*The middle point of the animation is -15xp. This will move the element up.*/
    }
    100% {
        transform: translateY(0);
        /*The last point of the animation is going back to the starting state of 0.*/
    }
}
#airbnb {
    margin-right: 20rem;
}

#smCol {
    display: none;
}

.wResponsive{
    width: 60vw;
}

@media screen and (min-width: 768px) {
    #textBox2 {
        width: 57.4vw
    }
    .wideScreen{       
        width: 57.4vw;
    }    
}    

/* ========== footer ============== */
footer {
    background-color: #a0cff8;
    position: bottom;
}
.footerWrapper {
    height: 3vh;
    position: bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
    margin: 0;    
}

/* ========== MEDIA QUERIES MOBILE ============== */

/*Breakpoint set at 600px, once it is 600px or smaller the layout changes to use the following styles overriding the old ones.*/
@media screen and (max-width: 600px) { 

    .wResponsive{
        width: 86vw;
    }
    #smCol {
        display: grid;
    }
    #banner {
        padding-left: 0 auto;
    }
    #textbox2 p {
        width: 100%;
    }
    .btn3D {
        width:31vw;
        height:min-content;        
    }
    .myCard {
        height: auto;
    }
    .logo {
        margin-top: 2vh;
        margin-left: 6vw;        
    }
    .contrai {
        display: none;
    }
    img {
        width: auto;
        height: auto;
    }    
    .nascondi li {
        display: none;
        background-color: #823DD1;
    }
    .mostra {
        display: block;
        max-height: 100%;
    }
}
 #ulMenu li a{
    color: var(--testo);
    text-decoration: none;
    text-decoration-color: black;
}