/*UA reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;

}

h1, h2, h3, h4, h5, h6 {
    color: black;
    text-shadow: 1px 0 0 whitesmoke, -1px 0 0 whitesmoke, 0 1px 0 whitesmoke,
                 0 -1px 0 whitesmoke, 1px 1px whitesmoke, -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke;

}

#pool {
    height: 100vh;
    width: 100vw;
}

.gridSystem{
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 1em;
}

.gridCard{
    border:2px solid rgba(245, 245, 245, 0.303); 
    border-radius: 7px;
    padding: 1em;
    
}
.serviceIcon{
    height: auto;
    width: 7em;
}

li {
    list-style: none;
}

ul {
    padding-right: 2rem;
    margin: 0;
}

.bRadius {
    border-radius: 7px;
}

/*tipografia*/
html, body, h1, h2, h3, h4, h5, h6, p, a, button, ul, li {
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.footerText{
    font-size: small;
}

.upperCase{
    text-transform: uppercase;
}
.decNone{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

.corsivo {
    font-style: italic;
    font-weight: 600;
}

.boldText {
    font-weight: 600;
}

.bolderText {
    font-weight: 800;
    font-size: x-large;
}

.semiBoldText {
    font-weight: 500;
}

.firma {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 900;
}

.testoAlert {
    color: #800000;
    font-size: 1.5em;
    background-color: #62a8e5;
}

.emoticon {
    font-style: normal;
}

img {
    width: auto;
    height: auto;
}

.cardImg {
    cursor: zoom-in;
}

/*colori*/
.viola {
    color: #823DD1;
}

.bg-viola {
    background-color: #823DD1;
}

.text-viola {
    color: #823DD1;
    color: #832800;
    /*text-shadow: 1px 0 0 whitesmoke, -1px 0 0 whitesmoke, 0 1px 0 whitesmoke,
        0 -1px 0 whitesmoke, 1px 1px whitesmoke, -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke;*/
    text-shadow: 1px 0 0 #F9835D, -1px 0 0 #F9835D, 0 1px 0 #F9835D,
        0 -1px 0 #F9835D, 1px 1px #F9835D, -1px -1px 0 #F9835D, 1px -1px 0 #F9835D, -1px 1px 0 #F9835D;
}

.text-border-pesca {
    text-shadow: 1px 0 0 #F9835D, -1px 0 0 #F9835D, 0 1px 0 #F9835D,
        0 -1px 0 #F9835D, 1px 1px #F9835D, -1px -1px 0 #F9835D, 1px -1px 0 #F9835D, -1px 1px 0 #F9835D;
}

.text-border {
    text-shadow: 1px 0 0 whitesmoke, -1px 0 0 whitesmoke, 0 1px 0 whitesmoke,
        0 -1px 0 whitesmoke, 1px 1px whitesmoke, -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke;




}

.text-border-black {
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black,
        1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

}

#nomeStanza {
    color: #823DD1;
    color: #832800;

}

.bg-ciano {
    background-color: #00C2D9;
}

.bg-pesca {
    background-color: #F9835D;
    background-color: #95b0b5;
}

.panna {
    background-color: #f6f4ea;
}

.panna2 {
    background-color: #f6f4ea;
}

.bg-granata {
    background-color: #832800;
}

.fondoContrasto {
    background-color: #f6f4ea;
}

.verdeLime {
    background-color: #569b51;
}

.bluMail {
    background-color: #385eab;
}

.cielo {

    background-color: #62a8e51f;

}

.bg-mio {
    background-color: #a0cff8;
}

/*ombre*/
.ombra {
    box-shadow: 0px 0px 1vh rgb(56, 55, 55);
}

.ombra2 {
    box-shadow: 0px 3px 1vh rgb(56, 55, 55);
}

.ombraGranata {
    box-shadow: 1px 1px 2.6vh #800000;
}

/* ========== card stanze ============== */
.myCard {
    height: auto;
}

#gMaps{
    margin: 0 auto;

}

/*larghezze*/
.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-45 {
    width: 45%;
}

/*altezze*/
.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}


/* ========== navBar ============== */
.navWrapper {
    height: 3.5vh;
}

.nascondi {
    display: none;

}

.footerWrapper {
    height: 5.5vh;
    position: bottom;
}

#imgLogo {
    width: 75%;
    height: auto;
    border-radius: 0px;
    margin-right: 6em;
    margin-bottom: 7px;
    /* background-color: blueviolet; */
}

#ulMenu {
    margin-right: 150px;
}

.contenitore {
    max-width: 99%;
    /*Limits the width of the container but let's it get smaller if needed.*/
    margin: 0 auto;
    /*Center the container horizontally in the middle of the page.*/
    padding: 0px;
    box-shadow: 0px 0px 2.5vh rgb(56, 55, 55);
}

.ri-menu-line {
    color: #f3eed9;
    /* color:rgb(33, 173, 224) ; */
    background-color: #832800;;
    width: 99%;
    border-radius: 5px;
    margin-top: 6px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    /*Allows the children inside a flex container to wrap down onto the next line
    if there is not enough space.*/
    align-items: center;
    /*Centers the children of a flex container vertically.*/
    justify-content: space-between;
    /*Adds space between each child of a flex container.*/
    background-color: #00C2D9;
    /*  babyBlue 62a8e5*/
}

.navbar a {
    text-decoration: none;
    color: inherit;
    /*Inherits the same color as the parent element or 
    grandparent (the body) unless you set the color to the navbar.*/
}

.logo {
    margin-top: 6px;
    font-size: x-large;
    font-weight: bold;
    color: #800000;
}

.elementiMenu {
    font-size: 1em;
}


.list {
    margin-top: 0.5em;
    font-size: x-large;
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 1vh;
    color: #832800;
    flex-direction: row;
    justify-content: start;
    margin: 0 auto;
    /*Applies right and bottom spacing between 
    children inside a flex or grid container.*/
}

#toggler,
.navbar label {
    display: none;
    /*Hide the checkbox and label on large screens.*/
}

/* ========== slideshow ============== */
#banner, #banner2 {
    width: auto;
    height: 40vh;


    /* box-shadow: 0px 0px 1.5vh rgb(56, 55, 55); */
    border-radius: 5px;
}

/* ========== form ============== */
form {
    color: white;
    background-color: #800000;
    background-color: #832800;
    border-radius: 5px;
    box-shadow: 0px 0px 1.5vh rgb(56, 55, 55);
}

input, textarea {
    border-radius: 5px;
}

/* ========== footer ============== */
footer {
    height: 3rem;
    background-color: #a0cff8;
}

/*bottone info*/
button {
    font-family: inherit;
    font-size: 20px;
    color: black;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.btn3D {
    width: 13vw;
    display: inline-block;
    padding: 10px 28px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: rgba(27, 26, 26, 0.202) 1px solid;
    box-shadow: 0 8px 0 #bcdab8, inset -5px 0 10px rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.btn3D.btn3D:hover {
    transform: translate(4px);
    box-shadow: 0 4px 0 #bcdab8;
    scale: 1.15;

}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}



@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


/*ICONA AIRBNB*/
.icons-wrapper {
    position: relative;
}

.fa-airbnb {
    background: #800000;
    /*(circle at 30% 107%, #800000 0%, #fdf497 5%, #d649fd 45%, #d6249f 60%, #d496f1 90%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* This is the first item so no animation delay needed.*/
}

.fa-brands {
    display: inline-block;
    /*Makes the icons inline block level elements. This will let us animate the transform property.*/
    font-size: 25px;
    /*Applies the float keyframe animation over 5s and makes it run infinitely.*/
    animation: float 1.5s ease-in-out infinite;


}

.icons-wrapper::after {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

@keyframes float {
    0% {
        transform: translateY(0);
        /*The starting point of the animation is 0.*/
    }

    50% {
        transform: translateY(-4px);
        /*The middle point of the animation is -15xp. This will move the element up.*/
    }

    100% {
        transform: translateY(0);
        /*The last point of the animation is going back to the starting state of 0.*/
    }
}

#airbnb {
    margin-right: 20rem;
}

#smCol {
    display: none;
}
.wResponsive{
    width: 60vw;
}



@media screen and (min-width: 768px) {
    #textBox2 {
        width: 57.4vw
    }
    .wideScreen{       
        width: 57.4vw;
    }
    
}
    

/* ========== MEDIA QUERIES MOBILE ============== */
/*Breakpoint set at 600px, once it is 600px or smaller the layout changes to use the following styles overriding the old ones.*/
@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        max-height: 0;
        /*Makes the max-height 0 to side the expanded menu.*/
        overflow: hidden;
        /*Hides the overflowing content.*/
    }

    .wResponsive{
        width: 86vw;
    }
   

    #smCol {
        display: grid;
    }

    #banner {
        padding-left: 0 auto;

    }
    #imgLogo{
        
        height: 30px;
        width: auto;
        padding-right: 25px;
    }

    #textbox2 p {
        width: 100%;
    }

    /* .btn3D {
        width: 55%;
        height: auto;
        display: inline-block;
        padding: 10px 28px;
        text-decoration: none;
        color: black;
        border-radius: 5px;
        border: rgba(27, 26, 26, 0.202) 1px solid;
        box-shadow: 0 8px 0 #bcdab8, inset -5px 0 10px rgba(255, 255, 255, 0.2);
        transition: all 0.3s;
    } */

    .btn3D {
        width:38vw;
        
    }

    .myCard {
        height: auto;
    }

    .logo {
        margin-top: 6px;
        font-size: large;
        font-weight: bold;
        color: #800000;
    }

    .contrai {
        display: none;
    }

    img {
        width: auto;
        height: auto;
    }



    .list {
        flex-direction: column;
        justify-content: center;
        /*Chances the direction of the flex container.
        By default it is a row so we change it to column in small screens.*/
        align-items: flex-end;
        padding: 20px;
        margin-left: auto;
        font-size: large;
        font-weight: 700;
    }

    #ulMenu {
        margin-right: 0;
    }

    .navbar label {
        display: inline-flex;
        justify-content: end;
        /*Makes it an inline flex container for the icon.
        Used for centering the icon inside this box.*/
        align-items: center;
        cursor: grab;
        width: 100px;
        color: #f3eed9;

    }
    /* The general sibling selector (~) 
        selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% 
        to show the menu. */

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .nascondi {
        display: none;
    }

    .mostra {
        display: inherit;
        max-height: 100%;
    }
}