/*UA reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/*generale*/

body, html {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, button, ul, li {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.corsivo {
    font-style: italic;
    font-weight: 600;
}

.emoticon {
    font-style: normal;
}

img {
    width: auto;
    height: auto;
    border-radius: 7px;
}

.bRadius {
    border-radius: 7px;
}

/*Navbar responsive*/
#navWrapper {
    height: 3.5vh;
}

.ombra {
    box-shadow: 0px 0px 2.5vh rgb(56, 55, 55);
}

header {
    box-shadow: 0px 0px 2.5vh rgb(56, 55, 55);
}

/* ======================== */
.contenitore {
    max-width: 100%;
    /*Limits the width of the container but let's it get smaller if needed.*/
    margin: 0 auto;
    /*Center the container horizontally in the middle of the page.*/
    padding: 0px;
    box-shadow: 0px 0px 2.5vh rgb(56, 55, 55);
}

/* .hamburger{
    margin-right: 8vh;
} */
.ri-menu-line {
    color: white;
    /* color:rgb(33, 173, 224) ; */
    background-color: #800000;
    width: 100%;
    border-radius: 5px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    /*Allows the children inside a flex container to wrap down onto the next line
    if there is not enough space.*/
    align-items: center;
    /*Centers the children of a flex container vertically.*/
    justify-content: space-between;
    /*Adds space between each child of a flex container.*/
    background-color: #00bdd0;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    /*Inherits the same color as the parent element or 
    grandparent (the body) unless you set the color to the navbar.*/
}

.logo {
    margin-right: 9rem;
    font-weight: bold;
}

.list {
    font-size: large;
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 1vh;
    /*Applies right and bottom spacing between 
    children inside a flex or grid container.*/
}

#toggler,
.navbar label {
    display: none;
    /*Hide the checkbox and label on large screens.*/
}


/*slideshow Fano*/

#banner {
    width: auto;
    height: 768px;

    /* box-shadow: 0px 0px 1.5vh rgb(56, 55, 55); */
    border-radius: 5px;
}

/*form*/

form {
    color: white;
    background-color: #800000;
    border-radius: 5px;
    box-shadow: 0px 0px 1.5vh rgb(56, 55, 55);
}

input, textarea {
    border-radius: 5px;
}

/*footer*/
footer {
    height: 40px;
    background-color: #00bdd0;
}

/*Breakpoint set at 600px, once it is 600px or smaller 
the layout changes to use the following styles overriding the old ones.*/
@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        /*Makes the max-height 0 to side the expanded menu.*/
        overflow: hidden;
        /*Hides the overflowing content.*/
    }

    .list {
        flex-direction: column;
        /*Chances the direction of the flex container.
        By default it is a row so we change it to column in small screens.*/
        align-items: flex-end;
        padding: 20px;
        font-size: large;
        font-weight: 700;
    }

    .toggler {
        margin-right: 100px;
    }

    .navbar label {
        display: inline-flex;
        justify-content: end;
        /*Makes it an inline flex container for the icon.
        Used for centering the icon inside this box.*/
        align-items: center;
        cursor: pointer;
        width: 100px;
        color: white;
    }



    /* 
        The general sibling selector (~) 
        selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% 
        to show the menu.
    */
    #toggler:checked~.menu {
        max-height: 100%;
    }

    .logo {
        margin-right: 2rem;
    }

}